
*.class

#package file
*.war
*.ear

#kdiff3 ignore
*.orig

#maven file
target/

#eclipse ignore
.settings/
.project
.classpatch

#idea
.idea/
/idea/
out/
*.ipr
*.iml
*.iws
*.jar

#tmp file
*.log
*.cache
*.diff
*.patch
*.tmp

#system ignore
.DS_Store
Thumbs.db